body{
    background-color: green;
}
.form-center{
    
}
h1{
    text-shadow: 2px 2px red;
}
img{
    border-radius: 50%;
    border: 2px solid;
    box-shadow: 5px 5px 5px 5px red;
}

table{
    background: Yellow;
    border: black 2px solid;
}

th{
background-color: gray;

}
td{
    text-align: justify;
    text-decoration: dotted;
}

